<h1><%= @project.title %></h1>

<dl>
	<dt>Description</dt>
	<dd><%= @project.description%></dd>
	<dt>Repository</dt>
	<dd><%= @project.repository%></dd>
</dl>

<p><%= link_to 'This Project&#8217;s Assets', project_assets_path(@project) %></p>

<p><%= link_to 'All Projects', client_projects_path(@client) %></p>