<h1><%= link_to @client.name, client_path(@client) %> / <%= link_to 'Projects', client_projects_path(@client) %> / <%= @project.title %></h1>

<dl>
	<dt>Description</dt>
	<dd><%= @project.description%></dd>
	<dt>Repository</dt>
	<dd><%= @project.repository%></dd>
</dl>

<p><%= link_to 'This Project&#8217;s Assets', project_assets_path(@project) %></p>
