<h1>Edit Site Settings</h1>

<% form_for :site, :url => site_path, :html => {:method => :put} do |f| -%>

	<p><%= f.label :title %><br />
	<%= f.text_field :title %></p>

	<p><%= f.label :subtitle %><br />
	<%= f.text_field :subtitle %></p>

	<p><%= f.label :login %><br />
	<%= f.text_field :login %></p>

	<p><%= f.label :password %><br />
	<%= f.password_field :password %></p>

	<p><%= f.label :extra_head %><br />
	<%= f.text_area :extra_head, :class => 'wide short' %></p>

	<p><%= f.label :footer %><br />
	<%= f.text_area :footer, :class => 'wide short' %></p>

	<p><%= f.label :stylesheet %><br />
	<%= f.text_area :stylesheet, :class => 'wide tall' %></p>

	<%= submit_tag 'Save Changes' %> or <%= link_to 'cancel', pages_path %>
<% end -%>