<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title><%= (title = yield :title) ? title : "Freelancer!" %></title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<%= stylesheet_link_tag 'screen.css' %>
	<%= stylesheet_link_tag 'facebox.css' %>
	<%= stylesheet_link_tag 'print.css', :media => :print %>
	<%= javascript_include_tag 'jquery-min' %>
	<%= javascript_include_tag 'facebox' %>
	<%= yield :head %>

	<script type="text/javascript" charset="utf-8">
		jQuery(document).ready(function($) {
		  $('a[rel*=facebox]').facebox() 
		})
		
	</script>

</head>

<body>
	<div id="wrapper">
		<div id="header">
			Freelancer!
		</div>
		
		<div id="nav" class="clearfix">
			<ul>
				<li><%=link_to 'Clients', clients_path %></li>
			</ul>
		</div>
		
		<div id="content">
			<%= yield %>
		</div>
		
		<div id="footer">
			Powered by Freelancer!
		</div>
	</div>


</body>
</html>
